.footer-container {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:wrap;
    
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  .footer-links li:hover {
    color: #ff9800; /* Change link color on hover */
  }
  
  .footer-contact p,
  .footer-help p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer-copyright {
    display: flex;
    align-items: center;
  }
  
  .footer-copyright .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* Add your logo styles here */
  }
  
  .text-muted {
    color: #888;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .text-muted i {
    font-style: italic;
  }